//sass color variables declaration
$color-yellow-gradient:rgb(236,237,100);
$color-blue-gradient:rgb(19,212,235);
$color-dark-grey:rgb(119, 119, 119);
$color-white:rgb(255, 255, 255);
$color-black:rgb(0, 0, 0);
$color-white-smoke:rgb(245, 245, 245);