//sass color gradient variables
$color-yellow-gradient:rgb(236,237,100);
$color-blue-gradient:rgb(19,212,235);
$color-orange-gradient:rgb(246, 150, 39);
$color-green-gradient:rgb(0, 191, 114);
$color-green-yellow-gradient:rgb(168, 235, 18);
$color-light-green-second:rgb(225, 255, 177);
$color-black-blue-deep-gradient:rgb(5, 25, 55);
$color-deep-blue-gradient-1:rgb(0, 77, 122);
$color-blue-gradient-1:rgb(0, 135, 147);
$color-light-green:rgb(229, 249, 219);

//sass general color variables
$color-dark-grey:rgb(119, 119, 119);
$color-white:rgb(255, 255, 255);
$color-black:rgb(0, 0, 0);

//sass white-and-grey variables
$color-white-smoke:rgb(245, 245, 245);
$color-light-blue-grey:rgb(221, 230, 237);
$color-deep-blue-1:rgb(157, 178, 191);

//card gradients
$color-orange-c-1:rgb(228, 96, 40);
$color-purple-c-1:rgb(210, 106, 247);

$color-yellow-c-2:#dbd73a;
$color-red-c-2:rgb(230, 41, 108);

$color-yellow-c-3:#dfe649;
$color-blue-c-3:#004fa1;


//grid variables
$grid-width:114rem;//since its commom to use 1140px while using to create the max-width of a grid in current sass methods.
$vertical-gutter:8rem;
$horizontal-gutter:6rem;//for spacing between columns