//sass color variables declaration
$color-yellow-gradient:rgb(236,237,100);
$color-blue-gradient:rgb(19,212,235);
$color-dark-grey:rgb(119, 119, 119);
$color-white:rgb(255, 255, 255);
$color-black:rgb(0, 0, 0);
$color-white-smoke:rgb(245, 245, 245);
/* Performing Basic Reset*/
*,/*all elements*/
*::after,/*all after pseudo elements*/
*::before/*all before pseudo elements*/
{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html
{
    font-size: 62.5%;/* Setting root font size to 62.5 percent of default browser font size (usually 16px) making default font size to 10px i.e 62.5% of 16px*/
                    /* Allows user to zoom into page or change font size */
}

body
{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    
    line-height: 1.7;
    color: $color-white;
    padding: 3rem;
    background-color:$color-white-smoke;
    box-sizing: border-box;
    
}
/* Class Selectors*/
.header
{
    height: 95vh;/*height of element will be 95% of the viewport height*/
    background-image:linear-gradient(
        to right bottom, 
        rgba($color-yellow-gradient,0.7), 
        rgba($color-blue-gradient,0.7)),
        url(../Assets/Images/Handcraft-clay-background.jpg);/*adding the bacground image for home page top position+setting gradient for overlapping image (left top to botton right)+setting gradient colours and changing oppacity to 80% of original color(i.e 0.8 at the end of th rgb value) */
    background-size: cover;/* fits the image element as per the viewport of the screen */
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 700px, 0 100%);

    &__logoBox
        {
            position: absolute;
            top: 4rem;
            left: 4rem; 
        }
    &__logo
        {
            height: 17rem;
            opacity: 100%;
            animation-name: movefromleft;
            animation-duration: 0.7s;
            animation-timing-function: ease-out;  
        }
}


.heading 
{
    position: absolute;
    top: 40.7%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;

    &__prime
    {
        color: $color-white;
        text-transform: uppercase;
        backface-visibility: hidden;
        margin-bottom: 6rem;
    }

    &__first-main
    {
        display: block;
        font-size: 5.6rem;
        font-weight: 700;
        letter-spacing: 3.07rem;

        animation-name: movedown;
        animation-duration: 1s;
    }
    
    &__second-sub
    {
        display: block;
        font-size: 2.1rem;
        font-weight:40rem;
        letter-spacing: 1.47rem;
        text-align: center;
        margin-bottom: 60px;
        animation-name: moveup;
        animation-duration: 1s;
    }
}

.button
{
    &:link, /* Button Design and assigned effects and animations */
    &:visited/* button before and after clicking on it are same */
    {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.3s;
        position: relative;
        font-size: 1.6rem;

    }

    &-animated
    {
        animation-name: moveup;
        animation-duration: 0.7s;
        transition-timing-function: ease-out;
        animation-delay: 0.5s;
        animation-fill-mode: backwards;
   
    }

    &:hover /* Effects when cursor is on the button */
    {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }

    &:active /*Setting active i.e on clicking state animation Properties for all buttons in the website */
    {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem/*offset in X-axis,offset in Y-axis,blur value*/ rgba(0, 0, 0, 0.2);/*color and opacity*/
    }

    &::after
    {
        content:"";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--white /* Setting Home Page Product Button background color and font color */
    {
        background-color: $color-white;
        color: $color-dark-grey;
    
    }



    &--white::after
    {
        background-color: $color-white;  
    }

    &:hover::after
    {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
}



/* Effects and Animations Code*/

@keyframes movedown
{
    0%
    {
        opacity: 0;
        transform: translateY(-10rem);
    }

    70%
    {
        transform: translateY(1.4rem);
    }

    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveup
{
    0%
    {
        opacity: 0;
        transform: translateY(10rem);
    }

    70%
    {
        transform: translateY(-1.4rem);
    }

    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes movefromleft
{
    0%
    {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80%
    {
        transform: translateX(1.4rem);
    }

    100%
    {
        opacity: 1;
        transform: translateX(0.17rem);
    }
}

