.footer
{
    background: rgb(99,222,232);
    background: radial-gradient(circle, rgba(99,222,232,1) 0%, rgba(212,25,198,1) 100%);
    padding: 14rem 0;
    font-size:2rem;

    &__logoBox
    {
        text-align: center;
    }

    &__logo
    {
        width: 18rem;
        margin-bottom: 7rem;
    }

    &__nav
    {

    }

    &__list
    {
        list-style: none;
    }

    &__items
    {
        display: inline-block;
        margin-right: 0.7rem;
    }

    &__links
    {
        transition: all 0.3s;
        &:link,
        &:visited
        {
            color: $color-black;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
        }

        &:active,
        &:hover
        {
            color: $color-black;
            box-shadow: 0 1rem 2rem rgba($color-orange-gradient, 0.7);
            transform: skewY(-7deg) skewX(-14deg) scale(1.1);
            text-shadow: 0.5rem 1rem 1rem rgba( $color-dark-grey, 0.2);
        }
    }
}