//treated as a layout for the page hence saved in they layout folder.
.header
{
    height: 95vh;/*height of element will be 95% of the viewport height*/
    background-image:linear-gradient(
        to right bottom, 
        rgba($color-yellow-gradient,0.7), 
        rgba($color-blue-gradient,0.7)),
        url(../Assets/Images/Handcraft-clay-background.jpg);/*adding the bacground image for home page top position+setting gradient for overlapping image (left top to botton right)+setting gradient colours and changing oppacity to 80% of original color(i.e 0.8 at the end of th rgb value) */
    background-size: cover;/* fits the image element as per the viewport of the screen */
    background-position: top;
    position: relative;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logoBox
        {
            position: absolute;
            top: 4rem;
            left: 4rem; 
        }
    &__logo
        {
            height: 17rem;
            opacity: 100%;
            animation-name: movefromleft;
            animation-duration: 0.7s;
            animation-timing-function: ease-out;  
        }
}