.button
{
    &:link, /* Button Design and assigned effects and animations */
    &:visited/* button before and after clicking on it are same */
    {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.3s;
        position: relative;
        font-size: 1.6rem;

    }

    &-animated
    {
        animation-name: moveup;
        animation-duration: 0.7s;
        transition-timing-function: ease-out;
        animation-delay: 0.5s;
        animation-fill-mode: backwards;
   
    }

    &:hover /* Effects when cursor is on the button */
    {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        &::after
        {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active /*Setting active i.e on clicking state animation Properties for all buttons in the website */
    {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem/*offset in X-axis,offset in Y-axis,blur value*/ rgba(0, 0, 0, 0.2);/*color and opacity*/
    }

    &::after
    {
        content:"";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &--white /* Setting Home Page Product Button background color and font color */
    {
        background-color: $color-white;
        color: $color-dark-grey;

        &::after
        {
            background-color: $color-white;  
        }
    }

    
}

.button-learnmore
{
    &:link,
    &:visited
    {
        font-size: 1.8rem;
        color: $color-deep-blue-gradient-1;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px $color-deep-blue-gradient-1;
        padding: 3px;
        transition: all 0.2s;
    }

    &:hover
    {
        background-color: $color-deep-blue-gradient-1;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .7);
        transform: translateY(-5px);
    }

    &:active
    {
        box-shadow: 0 0.5rem 1rem rgba($color-black, .7);
        transform: translateY(0px);
    }

    &__white
    {
        &:link,
    &:visited
    {
        font-size: 1.8rem;
        color: $color-white;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px $color-white;
        padding: 3px;
        transition: all 0.2s;
    }

    &:hover
    {
        background-color: $color-white;
        color: $color-black;
        box-shadow: 0 1rem 2rem rgba($color-black, .7);
        transform: translateY(-5px);
    }

    &:active
    {
        box-shadow: 0 0.5rem 1rem rgba($color-black, .7);
        transform: translateY(0px);
    }
    }
}
