.form
{
    &__group
    {
        margin-bottom: 2rem;
    }

    &__input
    {
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 7px;
        background-color: rgba($color-white, 0.5);
        border: none;
        font-family: inherit;
    }

    &__input:focus
    {
        box-shadow: 0 3rem 3rem rgba($color-dark-grey, 0.7);
        outline: none;
        border-bottom: 3px solid $color-orange-gradient;
    }

    &__label
    {
        
    }
}