.about-us
{
    background-color: $color-light-blue-grey;
    padding: 25rem 0;
    margin-top: -20vh;
}

.section_feature
{
    padding:20rem 0;
    background-image:linear-gradient(
        to right bottom, 
        rgba($color-yellow-gradient,0.8), 
        rgba($color-blue-gradient,0.8)),
        url(../Images/backgroundimage2-crop.jpg);
        background-size: cover;
        height: 90vh;
        clip-path: polygon(100% 0, 100% 85%, 0 100%, 0 15%);
        margin-top: -15vh;
}

.section-item
{
    background-color: $color-light-blue-grey;
    padding: 25rem 0 50rem 0;
    margin-top: -15vh;
}

